server:
  port: 8080
  servlet:
    context-path: /

spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
      
  datasource:
    url: jdbc:oracle:thin:@211.238.142.22:1521:xe
    username: hr  
    password: happy
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    database: oracle
    database-platform: org.hibernate.dialect.OracleDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
        show_sql: true
        use_sql_comments: true

  ai:
    google:
      genai:
        api-key: "AIzaSyBCyE7MIYd2ITHctA2xZCoDyQkpjINQTyU"

  thymeleaf:
    cache: false
    encoding: utf-8
    prefix: classpath:templates/
    suffix: .html
    mode: HTML

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE